# Ignore everything
*
# Don't ignore this file
!.gitignore
# But descend into directories
!*/
# Ignore build folder
*build/
# Include C/C++ files
!*.c
!*.cpp
!*.h
!*.hpp

# Include CMAKE files
!*.txt
!*.cmake